<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Meu titulo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/home.css'>
</head>
<body>

    <% if(typeof from !== 'undefined'){ %>
        <h1><%=from%></h1>  
    <% } %> 
    <h1> Olá <%=user%> </h1>
    <br>
    <p> Bem vindo ao sistema!</p>

    <h2>Seriam essas suas informações?</h2>
    <br>
        <% info.forEach(function(informacoes){ %>
            Seus dados: <%=informacoes%>
        <% }) %>
    <hr>

    <% if(img == true) { %>
        <img src="/imgs/luto.png">
    <% } else{ %>        
        <h3> sem imagem declarada!</h3>
    <% } %>
</body>
</html>